body {
    background-image: antiquewhite;
    font-family: initial;
    color: rgb(73, 123, 193);
    text-align: center;
}
ol li {
    list-style-type: none;
}
h1 {
    width: 35%;
    text-align: center;
    margin: auto;
    height: 75%;
    background-color: rgb(132, 214, 214);
    text-transform: uppercase;
}
.column1{
    width: 50%;
    margin: 10px;
    border: 20%;
    text-align: left;
    padding: 10%;
    float:left;
    height: 50%;
    length: 50%

}
.column2{
    width: 30%;
    text-align: center;
    float:right;
    margin: 40px;
    border-right: 8%;
}
.me {
    width: 500px;
    margin: 10px;
    border: 20%;
    text-align: left;
    float: left;
    text-align: center;
}
.highlight{
    color: rgb(80, 87, 119);
    font-weight: bold;;
}

.under {
    text-decoration: underline;

}
#box{
    margin: 12px;
    border: 5px solid rgb(108, 123, 209);
    padding: 4px;
}

img {
    margin: auto;
    width: 45%;
}