body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 123, 193);
    text-align: center;
}
.column1{
    width: 500px;
    margin: 10px;
    border: 20%;
    text-align: left;
}
.column2{
    width: 500px;
    text-align: left;
    float:right;
    margin: 10px;
    border-right: 15%;
}
.highlight{
    color: red;
}

img {
    width: 35%;
}

